.vux-alert{
  .vux-dialog-enter-active{
    animation: none;
  }
  .vux-dialog-leave-active{
    animation: none;
  }
  .vux-fade-enter-active,
  .vux-fade-leave-active,
  .vux-mask-leave-active,
  .vux-mask-enter-active {
    transition: none;
  }
}
